{{#article}}
<h1>Edit blog: {{name}}</h1>

  <form method="post">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" value="{{name}}" />

    <label for="slug">Slug</label>
    <input type="text" name="slug" id="slug" value="{{slug}}" />

    <label for="image">Image</label>
    <input type="text" name="image" id="image" value="{{image}}" />

    <label for="author_id">Author</label>
    <input type="text" name="author_id" id="author_id" value="{{author_id}}" />

    <label for="body">Body</label>
    <textarea name="body" id="body" value="{{{body}}}">{{{body}}}</textarea>

    <button>Update</button>
  </form>

  <h2>Delete article</h2>
  <p>
    If you want to remove this article, use the button below.
  </p>
  <form method="post" action="/article/delete/{{id}}">
    <button
      class="danger"
      type="submit"
      onclick="return confirm('Are you sure you want to delete this article?');"
    >Delete Article</button>
  </form>
{{/article}}